.cadre_entier{
    display: flex;
    justify-content: space-around;
    border: 10px solid black;
    margin: 5%;
    height: 100%;
    margin-top: 50px;
    padding: 100px;
    background-color: blue;
}
img{
    display: flex;
    width: 400px;
    height: 225px;
    float: right;
    justify-content: space-between;
}
.scorpion :hover, .sub-zero :hover{
    filter: brightness(50%);
}
h1{
    text-align: center;
    color: honeydew;
}
body{
    background-color: red;
}
.player1{
    border: 10px solid grey;
}
.player2{
    border: 10px solid grey;
}
